:root{
    /****** theme 1 *******/
    /* background colors */
    --mainbg : hsl(222, 26%, 31%);
    --keypadbg : hsl(223, 31%, 20%);
    --screenbg : hsl(224, 36%, 15%);
    /* keys color */
    --keybg1 : hsl(225, 21%, 49%);
    --keyshadow1 : hsl(224, 28%, 35%);
    --keybg2 : hsl(6, 63%, 50%);
    --keyshadow2 : hsl(6, 70%, 34%);
    --keybg3 : hsl(30, 25%, 89%);
    --keyshadow3 : hsl(28, 16%, 65%);
    /* keys hover */
    --keybg1hover : hsl(224, 51%, 76%);
    --keybg2hover : hsl(6, 93%, 67%);
    --keybg3hover: hsl(0, 0%, 100%);
    /* text colors */
    --text1 : hsl(221, 14%, 31%);
    --text2 : hsl(0, 0%, 100%);
    --text3 : hsl(0, 0%, 100%);
    --text4 : hsl(0, 0%, 100%);

    /* font size */
    --fontsize: 32px;

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'League Spartan';
    font-weight: 700;
}

.theme2{
    /****** theme 2 *****/
    /* background colors */
    --mainbg : hsl(0, 0%, 90%);
    --keypadbg : hsl(0, 5%, 81%);
    --screenbg : hsl(0, 0%, 93%);
    /* keys color */
    --keybg1 : hsl(185, 42%, 37%);
    --keyshadow1 : hsl(185, 58%, 25%);
    --keybg2 : hsl(25, 98%, 40%);
    --keyshadow2 : hsl(25, 99%, 27%);
    --keybg3 : hsl(45, 7%, 89%);
    --keyshadow3 : hsl(35, 11%, 61%);
    /* keys hover */
    --keybg1hover : hsl(185, 41%, 56%);
    --keybg2hover : hsl(25, 100%, 61%);
    --keybg3hover: hsl(0, 0%, 100%);
    /* text colors */
    --text1 : hsl(60, 10%, 19%);
    --text2 : hsl(0, 0%, 100%);
    --text3 : hsl(60, 10%, 19%);
    --text4 : hsl(0, 0%, 100%);;
}

.theme3{
    /******** theme 3 ******/
    /* background colors */
    --mainbg : hsl(268, 75%, 9%);
    --keypadbg : hsl(268, 71%, 12%);
    --screenbg : hsl(268, 71%, 12%);
    /* keys color */
    --keybg1 : hsl(281, 89%, 26%);
    --keyshadow1 : hsl(285, 91%, 52%);
    --keybg2 : hsl(176, 100%, 44%);
    --keyshadow2 : hsl(177, 92%, 70%);
    --keybg3 : hsl(268, 47%, 21%);
    --keyshadow3 : hsl(290, 70%, 36%);
    /* keys hover */
    --keybg1hover : hsl(281, 56%, 44%);
    --keybg2hover : hsl(177, 100%, 79%);
    --keybg3hover: hsl(268, 54%, 44%);
    /* text colors */
    --text1 : hsl(52, 100%, 62%);
    --text2 : hsl(0, 0%, 100%);
    --text3 : hsl(52, 100%, 62%);
    --text4 : hsl(198, 20%, 13%);
}

body{
    background-color: var(--mainbg);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.4rem;
}

/****** all buttons ****/
button{
    outline: none;
}
button:hover{
    cursor: pointer;
}

/************ theme section    *********/
#themesection{
    display: flex;
    color: var(--text3);
    justify-content: space-between;
}

.calc{
    font-size: var(--fontsize);
}

#themeselection{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1.2rem;
    width: 45%;
}

#theme{
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: center;
    font-weight: 400;
}

#theme1, #theme2, #theme3{
    text-align: right;
    width: 50%;
    align-self: center;
    font-weight: 400;
    font-size: 10px;
}

#theme1{
    grid-column-start: 2;
    justify-self: flex-end;
}

#theme2{
    justify-self: center;
}

#changetheme{
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: var(--keypadbg);
    grid-column-start: 2;
    grid-column-end: 5;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
}

#changetheme button{
    border: none;
    outline: none;
    background-color: var(--keybg2);
    border-radius: 50%;
    width: 19px;
    height: 19px;
}

#changetheme button:hover{
    background-color: var(--keybg2hover);
}

#btn1{
    margin-left: 3px;
}

#btn2{
    height: 18px;
}

#btn3{
    margin-right: 3px;
}

#btn2, #btn3{
    visibility: hidden;
}
/*************display section ****/

#displaysection{
    background-color: var(--screenbg);
    color: var(--text3);
    text-align: right;
    padding: 0.5rem 1rem;
    font-size: var(--fontsize);
    height: 70px;
    border-radius: 12px;
}

#displayans{
    opacity: 0.5;
    font-size: calc(var(--fontsize)/2);
    margin-bottom: 1rem;
    visibility: hidden;
}

/***** Keypad section *****/

#keypad{
    background-color: var(--keypadbg);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0.7rem;
    column-gap: 0.25rem;
    justify-content: space-around;
    padding: 1.2rem;
    border-radius: 12px;
}

#keypad button{
    border-radius: 7px;
    height: 100%;
    padding: 0.7rem 0;
}

.numbers, .operator{
    background-color: var(--keybg3);
    color: var(--text1);
    font-size: var(--fontsize);
    box-shadow: 0px 2px 0px var(--keyshadow3);
    border-color: var(--keybg3);
    width: 90%;
}

.numbers:hover, .operator:hover{
    background-color: var(--keybg3hover);
    border-color: var(--keybg3hover);
}

#del{
    background-color: var(--keybg1);
    color: var(--text2);
    border-radius: 7px;
    box-shadow: 0px 2px 0px var(--keyshadow1);
    width: 90%;
    border-color: var(--keybg1);
}

#del:hover{
    background-color: var(--keybg1hover);
    border-color: var(--keybg1hover);
}

#reset{
    grid-column-start: 1 ;
    grid-column-end: 3;
    background-color: var(--keybg1);
    color: var(--text2);
    width: 96%;
    box-shadow: 0px 2px 0px var(--keyshadow1);
    border-color: var(--keybg1);
}

#reset:hover{
    background-color: var(--keybg1hover);
    border-color: var(--keybg1hover);
}

#result{
    grid-column-start: 3;
    grid-column-end: 5;
    font-size: var(--fontsize);
    background-color: var(--keybg2);
    color: var(--text4);
    width: 96%;
    box-shadow: 0px 2px 0px var(--keyshadow2);
    border-color: var(--keybg2);
}

#result:hover{
    background-color: var(--keybg2hover);
    border-color: var(--keybg2hover);
}