:root{
    /****** theme 1 *******/
    /* background colors */
    --theme1mainbg : hsl(222, 26%, 31%);
    --theme1keypadbg : hsl(223, 31%, 20%);
    --theme1screenbg : hsl(224, 36%, 15%);
    /* keys color */
    --theme1keybg1 : hsl(225, 21%, 49%);
    --theme1keyshadow1 : hsl(224, 28%, 35%);
    --theme1keybg2 : hsl(6, 63%, 50%);
    --theme1keyshadow2 : hsl(6, 70%, 34%);
    --theme1keybg3 : hsl(30, 25%, 89%);
    --theme1keyshadow3 : hsl(28, 16%, 65%);
    /* text colors */
    --text1theme1 : hsl(221, 14%, 31%);
    --text2theme1 : hsl(0, 0%, 100%);
    --text3theme1 : hsl(0, 0%, 100%);
    --text4theme1 : hsl(0, 0%, 100%);

    /****** theme 2 *****/
    /* background colors */
    --theme2mainbg : hsl(0, 0%, 90%);
    --theme2keypadbg : hsl(0, 5%, 81%);
    --theme2screenbg : hsl(0, 0%, 93%);
    /* keys color */
    --theme2keybg1 : hsl(185, 42%, 37%);
    --theme2keyshadow1 : hsl(185, 58%, 25%);
    --theme2keybg2 : hsl(25, 98%, 40%);
    --theme2keyshadow2 : hsl(25, 99%, 27%);
    --theme2keybg3 : hsl(45, 7%, 89%);
    --theme2keyshadow3 : hsl(35, 11%, 61%);
    /* text colors */
    --text1theme2 : hsl(60, 10%, 19%);
    --text2theme2 : hsl(0, 0%, 100%);
    --text3theme2 : hsl(60, 10%, 19%);
    --text4theme2 : hsl(0, 0%, 100%);;

    /******** theme 3 ******/
    /* background colors */
    --theme3mainbg : hsl(268, 75%, 9%);
    --theme3keypadbg : hsl(268, 71%, 12%);
    --theme3screenbg : hsl(268, 71%, 12%);
    /* keys color */
    --theme3keybg1 : hsl(281, 89%, 26%);
    --theme3keyshadow1 : hsl(285, 91%, 52%);
    --theme3keybg2 : hsl(176, 100%, 44%);
    --theme3keyshadow2 : hsl(177, 92%, 70%);
    --theme3keybg3 : hsl(268, 47%, 21%);
    --theme3keyshadow3 : hsl(290, 70%, 36%);
    /* text colors */
    --text1theme3 : hsl(52, 100%, 62%);
    --text2theme3 : hsl(0, 0%, 100%);
    --text3theme3 : hsl(52, 100%, 62%);
    --text4theme3 : hsl(198, 20%, 13%);

    /* font size */
    --fontsize: 32px;


    /******** for any theme  *********/
    /* background colors */
    --mainbg : var(--theme1mainbg);
    --keypadbg : var(--theme1keypadbg);
    --screenbg : var(--theme1screenbg);
    /* keys color */
    --keybg1 : var(--theme1keybg1);
    --keyshadow1 : var(--theme1keyshadow1);
    --keybg2 : var(--theme1keybg2);
    --keyshadow2 : var(--theme1keyshadow2);
    --keybg3 : var(--theme1keybg3);
    --keyshadow3 : var(--theme1keyshadow3);
    /* text colors */
    --text1 : var(--text1theme1);
    --text2 : var(--text2theme1);
    --text3 : var(--text3theme1);
    --text4 : var(--text4theme1);

}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'League Spartan';
    font-weight: 700;
}

body{
    background-color: var(--mainbg);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.4rem;
}

/************ theme section    *********/
#themesection{
    display: flex;
    color: var(--text3);
    justify-content: space-between;
}

.calc{
    font-size: var(--fontsize);
}

#themeselection{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1.2rem;
    width: 45%;
}

#theme{
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: center;
    font-weight: 400;
}

#theme1, #theme2, #theme3{
    text-align: right;
    width: 50%;
    align-self: center;
    font-weight: 400;
    font-size: 10px;
}

#theme1{
    grid-column-start: 2;
    justify-self: flex-end;
}

#theme2{
    justify-self: center;
}

#changetheme{
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: var(--keypadbg);
    grid-column-start: 2;
    grid-column-end: 5;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25px;
}

#changetheme button{
    border: none;
    outline: none;
    background-color: var(--keybg2);
    border-radius: 50%;
    width: 19px;
    height: 19px;
    margin-left: 3px;
}

#btn2, #btn3{
    visibility: hidden;
}
/*************display section ****/

#displaysection{
    background-color: var(--screenbg);
    color: var(--text3);
    text-align: right;
    padding: 0.5rem 1rem;
    font-size: var(--fontsize);
    height: 70px;
    border-radius: 12px;
}

/***** Keypad section *****/

#keypad{
    background-color: var(--keypadbg);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 0.7rem;
    column-gap: 0.25rem;
    justify-content: space-around;
    padding: 1.2rem;
    border-radius: 12px;
}

#keypad button{
    border-radius: 7px;
    height: 100%;
    padding: 0.7rem 0;
}

.numbers, .operator{
    background-color: var(--keybg3);
    color: var(--text1);
    font-size: var(--fontsize);
    box-shadow: 0px 2px 0px var(--keyshadow3);
    border-color: var(--keybg3);
    width: 90%;
}

.numbers:hover, .operator:hover{
    background-color: var(--keyshadow3);
}

#del{
    background-color: var(--keybg1);
    color: var(--text2);
    border-radius: 7px;
    box-shadow: 0px 2px 0px var(--keyshadow1);
    width: 90%;
    border-color: var(--keybg1);
}

#reset{
    grid-column-start: 1 ;
    grid-column-end: 3;
    background-color: var(--keybg1);
    color: var(--text2);
    width: 96%;
    box-shadow: 0px 2px 0px var(--keyshadow1);
    border-color: var(--keybg1);
}

#result{
    grid-column-start: 3;
    grid-column-end: 5;
    font-size: var(--fontsize);
    background-color: var(--keybg2);
    color: var(--text4);
    width: 96%;
    box-shadow: 0px 2px 0px var(--keyshadow2);
    border-color: var(--keybg2);
}